# Лабораторная работа №5
### Описание столбцов для предоставленных данных:

1. mpg: количество миль, которое автомобиль может проехать на одном галлоне топлива (вещественный)
2. cylinders: количество цилиндров в двигателе автомобиля (целочисленный)
3. displacement: объем двигателя в кубических дюймах (вещественный)
4. horsepower: мощность двигателя в лошадиных силах (целочисленный)
5. weight: вес автомобиля в фунтах (вещественный)
6. acceleration: время разгона автомобиля от 0 до 60 миль в час (вещественный)
7. model: год выпуска модели автомобиля (целочисленный)
8. origin: код страны производителя (целочисленный)
9. car: название и модель автомобиля (категориальный)

### Типы данных столбцов:

1. mpg: вещественный
2. cylinders: целочисленный
3. displacement: вещественный
4. horsepower: целочисленный
5. weight: вещественный
6. acceleration: вещественный
7. model: целочисленный
8. origin: целочисленный
9. car: категориальный (строковый)

### Подключение данных и вывод таблицы

In [3]:
import pandas as pd
import numpy as np

dataSet = './auto2.csv'
df = pd.read_csv(dataSet)

print(df.head())
print(df.info())

    mpg  cylinders  displacement horsepower  weight  acceleration  model
0  33.0          4            91         53    1795          17.4     76  \
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB
None

### Вывод первых 5 элементов таблицы

In [4]:
print(df.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model
0  33.0          4            91         53    1795          17.4     76  \
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Вывод последних 5 элементов таблицы

In [5]:
print(df.tail())

      mpg  cylinders  displacement horsepower  weight  acceleration  model
195  27.0          4           140         86    2790          15.6     82  \
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin              car
195       1  ford mustang gl
196       2        vw pickup
197       1    dodge rampage
198       1      ford ranger
199       1       chevy s-10

###  использовать функцию describe()

In [6]:
print(df.describe())

              mpg   cylinders  displacement      weight  acceleration
count  200.000000  200.000000    200.000000   200.00000    200.000000  \
mean    27.271500    5.015000    163.685000  2765.03500     16.125000
std      7.739012    1.491947     82.273266   693.12173      2.525324
min     13.000000    3.000000     70.000000  1755.00000     11.100000
25%     20.200000    4.000000     98.000000  2148.75000     14.500000
50%     27.200000    4.000000    135.000000  2667.50000     15.800000
75%     33.125000    6.000000    225.000000  3266.25000     17.600000
max     46.600000    8.000000    400.000000  4380.00000     24.800000

            model      origin
count  200.000000  200.000000
mean    79.170000    1.705000
std      1.912955    0.867026
min     76.000000    1.000000
25%     78.000000    1.000000
50%     79.000000    1.000000
75%     81.000000    3.000000
max     82.000000    3.000000

### считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки) всеми известными вам способами

In [9]:
print(df.iloc[0, 0])
print(df.at[0, 'model'])
print(df.loc[0, 'model'])

33.0
76
76

### фильтрация строк по диапазону индекса

In [10]:
print(df.loc[10:20])

     mpg  cylinders  displacement horsepower  weight  acceleration  model
10  13.0          8           318        150    3940          13.2     76  \
11  19.0          4           120         88    3270          21.9     76
12  19.0          6           156        108    2930          15.5     76
13  16.5          6           168        120    3820          16.7     76
14  16.5          8           350        180    4380          12.1     76
15  13.0          8           350        145    4055          12.0     76
16  13.0          8           302        130    3870          15.0     76
17  13.0          8           318        150    3755          14.0     76
18  31.5          4            98         68    2045          18.5     77
19  30.0          4           111         80    2155          14.8     77
20  36.0          4            79         58    1825          18.6     77

    origin                         car
10       1  plymouth volare premier v8
11       2                 peugeot 504
12       3              toyota mark ii
13       2          mercedes-benz 280s
14       1            cadillac seville
15       1                   chevy c10
16       1                   ford f108
17       1                  dodge d100
18       3           honda accord cvcc
19       1     buick opel isuzu deluxe
20       2               renault 5 gtl

### Фильтрация набора данных по какому-либо условию

In [13]:
print(df[df['mpg'] < 20])

      mpg  cylinders  displacement horsepower  weight  acceleration  model
2    18.0          6           250         78    3574          21.0     76  \
3    18.5          6           250        110    3645          16.2     76
4    17.5          6           258         95    3193          17.8     76
10   13.0          8           318        150    3940          13.2     76
11   19.0          4           120         88    3270          21.9     76
12   19.0          6           156        108    2930          15.5     76
13   16.5          6           168        120    3820          16.7     76
14   16.5          8           350        180    4380          12.1     76
15   13.0          8           350        145    4055          12.0     76
16   13.0          8           302        130    3870          15.0     76
17   13.0          8           318        150    3755          14.0     76
23   17.5          8           305        145    3880          12.5     77
24   17.0          8           260        110    4060          19.0     77
25   15.5          8           318        145    4140          13.7     77
26   15.0          8           302        130    4295          14.9     77
27   17.5          6           250        110    3520          16.4     77
29   19.0          6           225        100    3630          17.7     77
30   18.5          6           250         98    3525          19.0     77
31   16.0          8           400        180    4220          11.1     77
32   15.5          8           350        170    4165          11.4     77
33   15.5          8           400        190    4325          12.2     77
34   16.0          8           351        149    4335          14.5     77
51   19.9          8           260        110    3365          15.5     78
52   19.4          8           318        140    3735          13.2     78
54   19.2          6           231        105    3535          19.2     78
59   19.4          6           232         90    3210          17.2     78
62   18.6          6           225        110    3620          18.7     78
63   18.1          6           258        120    3410          15.1     78
64   19.2          8           305        145    3425          13.2     78
65   17.7          6           231        165    3445          13.4     78
66   18.1          8           302        139    3205          11.2     78
67   17.5          8           318        140    4080          13.7     78
77   17.0          6           163        125    3140          13.6     78
79   16.2          6           163        133    3410          15.8     78
83   19.8          6           200         85    2990          18.2     79
87   17.0          8           305        130    3840          15.4     79
88   17.6          8           302        129    3725          13.4     79
89   16.5          8           351        138    3955          13.2     79
90   18.2          8           318        135    3830          15.2     79
91   16.9          8           350        155    4360          14.9     79
92   15.5          8           351        142    4054          14.3     79
93   19.2          8           267        125    3605          15.0     79
94   18.5          8           360        150    3940          13.0     79
118  19.1          6           225         90    3381          18.7     80
168  17.6          6           225         85    3465          16.6     81

     origin                                   car
2         1                     ford granada ghia
3         1                    pontiac ventura sj
4         1                         amc pacer d/l
10        1            plymouth volare premier v8
11        2                           peugeot 504
12        3                        toyota mark ii
13        2                    mercedes-benz 280s
14        1                      cadillac seville
15        1                             chevy c10
16        1                             ford f108
17        1                            dodge d100
23        1             chevrolet caprice classic
24        1            oldsmobile cutlass supreme
25        1                 dodge monaco brougham
26        1               mercury cougar brougham
27        1                    chevrolet concours
29        1                plymouth volare custom
30        1                          ford granada
31        1                 pontiac grand prix lj
32        1          chevrolet monte carlo landau
33        1                      chrysler cordoba
34        1                      ford thunderbird
51        1     oldsmobile cutlass salon brougham
52        1                        dodge diplomat
54        1                    pontiac phoenix lj
59        1                           amc concord
62        1                           dodge aspen
63        1                       amc concord d/l
64        1          chevrolet monte carlo landau
65        1       buick regal sport coupe (turbo)
66        1                           ford futura
67        1                       dodge magnum xe
77        2                           volvo 264gl
79        2                         peugeot 604sl
83        1                      mercury zephyr 6
87        1             chevrolet caprice classic
88        1                       ford ltd landau
89        1                 mercury grand marquis
90        1                       dodge st. regis
91        1               buick estate wagon (sw)
92        1              ford country squire (sw)
93        1         chevrolet malibu classic (sw)
94        1  chrysler lebaron town @ country (sw)
118       1                           dodge aspen
168       1                chrysler lebaron salon

### Работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan

In [14]:
# генерация пропущенных строк
data = np.random.rand(1000, 5)
mask = np.random.choice([True, False], size=data.shape, p=[0.05, 0.95])
data[mask] = np.nan

print(df.describe())

# Заполнение пропущенных значений в колонке mpg средним значением
mean_mpg = df['mpg'].mean()
df['mpg'].fillna(mean_mpg, inplace=True)

# удаление пропущенных строк
df.dropna(inplace=True)

print(df.describe())

              mpg   cylinders  displacement      weight  acceleration
count  200.000000  200.000000    200.000000   200.00000    200.000000  \
mean    27.271500    5.015000    163.685000  2765.03500     16.125000
std      7.739012    1.491947     82.273266   693.12173      2.525324
min     13.000000    3.000000     70.000000  1755.00000     11.100000
25%     20.200000    4.000000     98.000000  2148.75000     14.500000
50%     27.200000    4.000000    135.000000  2667.50000     15.800000
75%     33.125000    6.000000    225.000000  3266.25000     17.600000
max     46.600000    8.000000    400.000000  4380.00000     24.800000

            model      origin
count  200.000000  200.000000
mean    79.170000    1.705000
std      1.912955    0.867026
min     76.000000    1.000000
25%     78.000000    1.000000
50%     79.000000    1.000000
75%     81.000000    3.000000
max     82.000000    3.000000
              mpg   cylinders  displacement      weight  acceleration
count  200.000000  200.000000    200.000000   200.00000    200.000000  \
mean    27.271500    5.015000    163.685000  2765.03500     16.125000
std      7.739012    1.491947     82.273266   693.12173      2.525324
min     13.000000    3.000000     70.000000  1755.00000     11.100000
25%     20.200000    4.000000     98.000000  2148.75000     14.500000
50%     27.200000    4.000000    135.000000  2667.50000     15.800000
75%     33.125000    6.000000    225.000000  3266.25000     17.600000
max     46.600000    8.000000    400.000000  4380.00000     24.800000

            model      origin
count  200.000000  200.000000
mean    79.170000    1.705000
std      1.912955    0.867026
min     76.000000    1.000000
25%     78.000000    1.000000
50%     79.000000    1.000000
75%     81.000000    3.000000
max     82.000000    3.000000

### Cоздание нового поля вычисленного на основе значений других полей:

In [15]:
# Через выражение на базе имеющихся колонок
df['cylinders_and_displacement'] = df['cylinders'] + df['displacement']


# Через Series.apply
def classify_mpg(mpg):
    if mpg < 321950:
        return 'low'
    elif mpg < 450000:
        return 'medium'
    else:
        return 'high'

df['mpg_category'] = df['mpg'].apply(classify_mpg)

print(df[['cylinders_and_displacement', 'mpg_category']])

     cylinders_and_displacement mpg_category
0                            95          low
1                           231          low
2                           256          low
3                           256          low
4                           264          low
..                          ...          ...
195                         144          low
196                         101          low
197                         139          low
198                         124          low
199                         123          low

[200 rows x 2 columns]

### Сортировка по какому-либо из полей

In [16]:
df_sorted = df.sort_values('mpg', ascending=False)
print(df_sorted)

      mpg  cylinders  displacement horsepower  weight  acceleration  model
124  46.6          4            86         65    2110          17.9     80  \
131  44.6          4            91         67    1850          13.8     80
127  44.3          4            90         48    2085          21.7     80
196  44.0          4            97         52    2130          24.6     82
128  43.4          4            90         48    2335          23.7     80
..    ...        ...           ...        ...     ...           ...    ...
26   15.0          8           302        130    4295          14.9     77
10   13.0          8           318        150    3940          13.2     76
15   13.0          8           350        145    4055          12.0     76
16   13.0          8           302        130    3870          15.0     76
17   13.0          8           318        150    3755          14.0     76

     origin                         car  cylinders_and_displacement
124       3                   mazda glc                          90  \
131       3         honda civic 1500 gl                          95
127       2        vw rabbit c (diesel)                          94
196       2                   vw pickup                         101
128       2          vw dasher (diesel)                          94
..      ...                         ...                         ...
26        1     mercury cougar brougham                         310
10        1  plymouth volare premier v8                         326
15        1                   chevy c10                         358
16        1                   ford f108                         310
17        1                  dodge d100                         326

    mpg_category
124          low
131          low
127          low
196          low
128          low
..           ...
26           low
10           low
15           low
16           low
17           low

[200 rows x 11 columns]

### Вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)

In [17]:
print(df[['mpg', 'displacement']].mean())
print(df[['mpg', 'displacement']].median())
print(df[['mpg', 'displacement']].max())

mpg              27.2715
displacement    163.6850
dtype: float64
mpg              27.2
displacement    135.0
dtype: float64
mpg              46.6
displacement    400.0
dtype: float64

### value_counts()

In [18]:
print(df['model'].value_counts())

model
78    36
82    31
79    29
80    29
81    29
77    28
76    18
Name: count, dtype: int64

### Вывод уникальных значений колонки через .unique()

In [19]:
print(df['horsepower'].unique())

['53' '100' '78' '110' '95' '71' '70' '75' '72' '102' '150' '88' '108'
 '120' '180' '145' '130' '68' '80' '58' '96' '105' '98' '170' '190' '149'
 '89' '63' '83' '67' '97' '48' '66' '52' '60' '140' '139' '85' '90' '165'
 '103' '125' '115' '133' '129' '138' '135' '155' '142' '65' '77' '69' '76'
 '92' '?' '62' '132' '84' '64' '74' '116' '112' '86' '79' '82']

### Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит

In [20]:
df = df.set_index('horsepower')